[Unit]
Description=Steam Presence Service
Documentation=https://github.com/Radiicall/steam-presence-on-discord
After=network.target

[Service]
WorkingDirectory=/home/CHANGEME/.config/steam-presence/
Type=simple
ExecStart=/home/CHANGME/.config/steam-presence/steam-presence-on-discord
Restart=on-failure

[Install]
WantedBy=default.target